* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    line-height: 1.5;
    color:#ded5d5;
    background-color: #3d64a6;
}

.page-conteiner{
    width: 480px;
    max-width: 100%;
    padding: 16px;
    margin: 0 auto;

}

section{
    margin-bottom: 32px;

}
section .section-titel{
    font-size: 1,5rem;
    margin-bottom: 16px;
}
header {
    background-image: url('./images/cover.jpg.png');
    height: 250px;
    background-position: center center;
    background-size: cover;
}
.profile{
    text-align: center;
    margin-top: -75px;
}
.profile-image{
    width: 150px;
    height: 150x;
    border: solid 4px #fff;
    border-radius: 50%;
    display: inline-block;
}
.profile-image img{
    max-width: 100%;
    border-radius: 50%;
}
.profile-details{
    font: size 16px; ;
    margin: 24px 0;
}
.profile-details h1{
    font: size 32px; ;
    margin-bottom: 16px;
}

.tags span{
    font: size 14px; 
    background-color:#3d64a6;
    padding:8px;
    border-radius: 5px;
}
.Projekt{
    font-size: 1rem;
    background-color:#3d64a6;
    border-radius: 5px;
    margin-bottom: 16px;
    position: relative;
    overflow: hidden ;
}
.Projekt img{
    background-image: url('./images/Küche.jpg');
    max-width:50%;
}
.Projekt .projekt-titel {
    padding: 16px
}
.projket-detalies {
    display: none;
    background-color:#3d64a6;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 16px;
}
.profile-details .btn-outline{
    text-align: center;
    text-decoration: none;
    color: #fff;
    padding: 8px;
    border: solid 2px #fff;
    border-radius: 5px;
    position:absolute;
    left: 16px;
    right: 16px;
    bottom: 16px; 
}
.projket-detalies .btn-outline:hover{
     color: #3d64a6;
     background-color:#fff;
}

.projekt:hover .projket-detalies {
    display: block;
}
.Profile-Links{
    list-style: none;
}
.Profile-Links li a {
    font-size: 1rem;
    text-decoration: none;
    color:#fff;
    background-color: #3d64a6;
    padding: 16px;
    display: block;
    margin: 8px 0;
    border-radius: 5px;
}
.Profile-Links li a:hover{
    background-color: #2b579e;
}
footer{
    font: size 16px;
    text-align: center;
    padding: 16px 0; 
}
@media screen and (min-width: 768px) {

    .Projekt{
        overflow: hidden;
    }

    .Projekt{
        width: 48%;
    }

    .Projekt:nth-child(2n + 1) {
        float: left;
        margin-right: 4%;
    }
}
