@import url('https://de.123rf.com/photo_39076558_blauen-wasser-design-element-3d-darstellung-fl%C3%BCssigkeit-splash-isoliert-auf-wei%C3%9F.html');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

h1 {

    color: #136f71;
    font-weight: bolder;
    text-transform:  normal;
    font-size: 150;
}
h2 {
    color: rgb(0, 32, 139);
    font-weight: lighter;
    text-transform: uppercase;
    font-size: bold;
}



nav ul{
    list-style: none;
    background-color: chartreuse;
}

nav ul li {
    margin-left: 10ex;
    background-color: aqua;

}
nav ul li a{
    color: black;
    text-transform:  uppercase;
    text-decoration: none;
    font-weight: bold;
}