* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    line-height: 1.5;
    color:#fff;
    background: lineal-gradient(to right,#363795,#005c97);
}

.page-conteiner{
    width: 480px;
    max-width: 100%;
    padding: 16px;
}
